hr#horizontal
footer.site-footer
   img.copy-img(style='height: 24px; width: 24px'  src='../images/copyright-icon.jpg')
   span.liketext | 2019 Todoapp-Powered by Prismic
    
   nav
      img.footer-logo(src='../images/facebook-icon-image.png')
      img.footer-logo(src='../images/instagram-icon.jpg')
      img.footer-logo(src="../images/twitter-icon-image.png")