hr#horizontal
footer.site-footer
   img.copy-img.dark-icon(style='height: 19px; width: 19px'  src='../images/copyright2.png')
   img.copy-img.light-icon(style='height: 19px; width: 19px'  src='../images/copyright1.png')
   span.liketext | 2019 Todoapp-Powered by Prismic
    
   nav
      img.footer-logo.dark-icon(src='../images/facebook2.png') 
      img.footer-logo.light-icon(src='../images/facebook1.png') 
      img.footer-logo.dark-icon(src='../images/instagram2.png')
      img.footer-logo.light-icon(src='../images/instagram1.png')
      img.footer-logo.dark-icon(src='../images/twitter2.png')
      img.footer-logo.light-icon(src='../images/twitter1.png')