
footer
   img.copy-img(src='images/copyright-icon.jpg')
   p
    | 2019 Todoapp-Powered by Prismic
   img.footer-logo(src='images/facebook-icon-mage.png')
   img.footer-logo(src='images/instagram-icon.jpg')
   img.footer-logo(src ="images/twitter-icon-image.png")