if (slice.primary.select_image)
    -var sectionimage = "image-slice-" + slice.primary.select_image
else
    -var sectionimage = "image-slice-left"

div.imagecontent    
    section.content-section(class=sectionimage)
      img.image1(src=slice.primary.background_image.url)
    section.content-section
      img.about-img(src=slice.primary.full_width_image.url)