div.heighlight-content
    div.heighlight-image
        img(src=slice.primary.info_image.url)
    div.heighlight-contenttwo
        != PrismicDOM.RichText.asHtml(slice.primary.info_text, ctx.linkResolver)