div.notified-container
    div.notified-title
          h2 !{PrismicDOM.RichText.asText(slice.primary.title, ctx.linkResolver)}
            div.notified-text      
                 h6 !{PrismicDOM.RichText.asText(slice.primary.text, ctx.linkResolver)}
    div.notified-mail
        p.post-mail !{PrismicDOM.RichText.asText(slice.primary.label, ctx.linkResolver)}
        input#fname(placeholder=slice.primary.placeholder)
        div.notified-btn
             p.btn-link
                != PrismicDOM.RichText.asText(slice.primary.button_text)