div.main-content
      div.homepage-title
        h1 !{PrismicDOM.RichText.asText(slice.primary.title,ctx.linkresolver)}
      div.btn-content      
        div.homepage-subtitle 
         h6 !{PrismicDOM.RichText.asText(slice.primary.text,ctx.linkresolver)}
        .appstorebutton
         a(href='#')
         img.appleicon-dark(src=slice.primary.black_button.url)
         img.appleicon-white(src=slice.primary.white_button.url)