div.email-container
  div.email-content
    div.email-title
      != ctx.prismicDom.RichText.asHtml(slice.primary.email_title, ctx.linkResolver)
    div.email-text  
      h6 !{ ctx.prismicDom.RichText.asText(slice.primary.email_text) }

  div.signup-content
    div.signup-info
      != ctx.prismicDom.RichText.asHtml(slice.primary.label, ctx.linkResolver)
      div.signup-box
        input.email-add(placeholder=slice.primary.placeholder)
        div.btn-content
          div.btn-text
            != ctx.prismicDom.RichText.asHtml(slice.primary.button_text,ctx.linkResolver)