section
  div.email-signup.off-white-text
    != ctx.prismicDom.RichText.asHtml(slice.primary.email_title)
    != ctx.prismicDom.RichText.asHtml(slice.primary.email_text, ctx.linkResolver) 

  div.signup-content.off-white-text
    != ctx.prismicDom.RichText.asHtml(slice.primary.label, ctx.linkResolver)
    input(placeholder=slice.primary.placeholder)
    div.newsletters-btn
      != ctx.prismicDom.RichText.asHtml(slice.primary.button_text, ctx.linkResolver)