extends ./layout.pug

block variables
  - var activeDoc = homepage

block body
  edit-link(data-wio-id=response.id)

 
 


  div.container
      for slice in response.data.page_content
        case slice.slice_type
          when "call_to_action"
            include ./partials/actionslice.pug
          when 'full_width_image'
            include ./partials/imageslice.pug
          when "icon_info_section"
            include ./partials/textslice.pug
          when 'email_signup'
            include ./partials/notifiedslice.pug