

a {
   font-family: SFProText-Bold;
  font-size: 16px;
  letter-spacing: 0;
  text-align: right;
  text-decoration: none;

  }

h4{
font-family: SFProText-Heavy;
font-size: 80px;
letter-spacing: 0;
}
  h5{
font-family: SFProText-Heavy;
font-size: 56px;
letter-spacing: 0;
line-height: 67px;
  }
  h6{
   font-family: SFProText-Medium;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 40px;
  }
  p{
    font-family: SFProText-Medium;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
  }
 

 