
body.dark-mode {
  background-color: black;
  color: white;
}

body.light-mode {
  background-color: white;
  color: rgba(0,0,0,0.80);
}
.dark-mode a, .dark-mode logo{
  color : white;
}
.light-mode a, .light-mode logo{ 
  color:black;
}
.dark-mode .footer-logo {
  background-color: #E4E4E4;
}
.dark-mode .btn-link{
  background-color: white;
}
.dark-mode .image2,.dark-mode  .arrow-light,.dark-mode .appleicon-dark{
  display: none;
}
.dark-mode .image3,.dark-mode .arrow-dark,.dark-mode .appleicon-white{
  display: block;
}
.dark-mode .image1{
  opacity: 0.2;
}
.light-mode .image2,.light-mode .arrow-light,.light-mode .appleicon-dark{
  display: block;
}
.light-mode .image3,.light-mode .arrow-dark,.light-mode .appleicon-white{
  display: none;
}
.dark-mode .btn-link  {
  color:black;
}
.header-fixed {
  padding: 20px 40px;
  margin-bottom: 7em;
  margin-top: 3em;
}

.header-fixed .header-limiter img {
  width: 16px;
  background-color: #000000;
  margin-right: 4px;
}
.header-fixed .header-limiter .logo  {
	font-size:19px;
	line-height: 50px;
}
.wio-link {
  background-color:cadetblue;
  position: fixed;
  z-index: 10000;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px !important;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
          box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4); }



/* The navigation links */


.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
  text-decoration:none;
	opacity: 0.9;
}



/* homepage css */
.container,header,footer{
  max-width: 1080px;
  margin:auto;
}
.appstorebutton {
  margin: 58px 0px 0px 218px;
}
.homepage-title{
  width: 45%;
}

.homepage-subtitle {
  width: 59%;
}
.btn-content{
 display: inline-flex;
}


/* image slice css */

.imagecontent {
  position: relative;
  padding-top: 110px;
  margin-top: 110px;
}
.full_width_image-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.full_width_image-left {
   position: absolute;
    top: 0;
    z-index: -2;
    left: 0px;
}
.image1 {
  position: relative;
  top: 0px;
  left: 0px;
  margin-left: -110px;
  width: 790px;
  height: 608px;
  margin-right: -110px;
 } 

.image2,.image3,.about-img{
  width: 100%;
 }



 /* text slice css */
 .text-container,.notified-container{
  display: inline-flex;
  margin-top: 220px;
}
.text-content img{
  width: 9%;
}
.text-title{
  width: 65%;
  margin-top: 30px;
}

.text-subtitle {
  width: 75%;
  margin-top: 30px;
}


/* notified slice css */


.notified-mail{
  margin-top: 40px;
  margin-left: 300px;
}


#fname{
border: 1px solid #E5E5E5;
border-radius: 6px;
padding:12px 87px;
color: #999999;
background-color: Transparent;
margin-top: 10px;
}
.btn-link{
  background: #000000;
  border: 1px solid #000000;
  border-radius: 6px;
  padding:3px;
  font-family:  'Roboto', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin-top:10px;
 }

 /* footer css */
 #horizontal{
   margin-top: 110px;
 }
.footer-logo{
  width: 24px;
  margin-right: 33.4px;
}
.site-footer{
  padding: 20px 40px;
  margin-bottom: 7em;
  margin-top: 3em;
}
.copy-img{
  width: 16px;
  vertical-align: middle;
  margin-bottom:2px;
}
.site-footer nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

/* aboutus css */

.image-slice-left{
  position: absolute;
  top: 0;
  z-index: -2;
}
.heighlight-content{
  display: inline-flex;
  margin-top: 220px;
}
.heighlight-image{
  margin-right:100px;
}
.heighlight-image img{
  width: 34rem;
 
}
.heighlight-contenttwo p{
margin-top: 30px;
} 

@media(max-width:1060px){
  .container{
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .header-fixed{
    margin: auto;
    height: 66px;
  }
  .site-footer,#horizontal{
    margin: auto;
  }

  .btn-content,.text-container,.notified-container,.heighlight-content{
    display:block;
  }
 
   p{
    line-height: 27px;
   }
  .homepage-title,.homepage-subtitle,.text-title,.text-subtitle,.notified-mail{
    width: auto;
    margin: auto;
  }
  .heighlight-image img{
    width: 100%;
  }
  .appstorebutton,.heighlight-image, .imagecontent,.text-container,.notified-container,.heighlight-content{
    margin: auto;
    padding-top:20px;
  }
  .image1{
    display:none;
  }
}

@media (max-width: 768px) {

 h1{
   font-size: 31px;
 }
 
 h6{
 font-size: 21px;
 }
 .imagecontent{
  margin: auto;
  padding-top: 20px;
 }
.dark-icon{
  margin: auto;
}

.heighlight-contenttwo{
  margin-top: 45px;
}
.notified-mail{
  margin: auto;
}
 h2{
  font-size: 30px;
  line-height: 37px;
  width: auto;
 }


}

@media(max-width:500px){
  .site-footer nav{
    float: none;
    margin-left:50px;
  }
  .header-fixed {
    margin: auto;
    padding: 0px;
    height: 66px;
  } 
  .liketext{
    font-size: 14px;
  }
}
