body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}

/* Dark- light mode css */
body.dark-mode {
  background-color: #000000;
  color: #FFFFFF 
}
body.light-mode {
  background-color: #FFFFFF;
  color: rgba(0,0,0,0.80);
}
.dark-mode .action-text,.dark-mode .text-subtitle,
.dark-mode .heighlight-text p,.dark-mode.liketext,
.dark-mode .info-desc p, .dark-mode .email-text,
.dark-mode .info-text {
  color: rgba(255,255,255,0.80);
}
.dark-mode a, .dark-mode .logo-text {
  color: #FFFFFF;
}
.light-mode a, .light-mode .logo-text {
  color: #000000;
}
.dark-mode .btn-text {
  background-color: #FFFFFF;
}
.dark-mode .img-black,.dark-mode .arrow-black,
.dark-mode .apple-icon-black,
.dark-mode .dark-icon {
  display: none;
}
.dark-mode .img-white,
.dark-mode .apple-icon-white {
  display: block;
}
.dark-mode .back-img {
  opacity: 0.2;
}
.light-mode .img-black,
.light-mode .apple-icon-black {
  display: block;
}
.light-mode .img-white,.light-mode .arrow-white,
.light-mode .apple-icon-white,
.light-mode .light-icon {
  display: none;
}
.dark-mode .btn-text {
  color: #000000;
}

/* CSS for each container */
.container,header,footer {
  max-width: 1080px;
  margin: auto;
}
.action-container,.info-container,
.email-container,.heighlight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Edit button css */
.wio-link {
  background-color: cadetblue;
  position: fixed;
  z-index: 10000;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px !important;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
  box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
}

/* Header CSS */
.header-container {
	padding: 20px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.header-container a {
  padding-top: 16px;
  display: flex;
}
.check-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  vertical-align: text-top;
}
.logo-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
}
.moon-light-icon, .moon.dark-icon {
  width: 18px;
  vertical-align: text-bottom;
}
.main-header .header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
  padding: .5em 1.5em;
}

/* Call to action Slice CSS  */
.action-title {
  max-width: 613px;
  font-size: 50px;
  letter-spacing: 0;
  font-weight: 600;
}
.action-text {
  margin-top: 20px;
  max-width: 723px;
}
.app-store-button {
  margin: 298px 0px 0px 235px;
}

/* Full width image css */
.image-container  {
  position: relative;
  padding-top: 110px;
  margin-top: 110px;
  margin-bottom: 220px;
}
.full_width_image-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.full_width_image-left {
  position: absolute;
  top: 0;
  z-index: -2;
  left: 0px;
}
.back-img {
  position: relative;
  top: 0px;
  left: 0px;
  margin-left: -110px;
  width: 790px;
  height: 608px;
  margin-right: -110px;
}
.img-black,.img-white {
  width: 100%;
}

/* icon-info-action slice css */
.info-title {
  max-width: 463px;
  margin: 30px 0px 20px 0px;
}
.info-text  {
  max-width: 1075px;
}
.info-desc {
  margin-left: 109px;
}
.info-desc h6 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 30px;
}

/* Email-signup CSS */
.signup-content {
  margin-left: 165px;
}
.email-text {
  margin-top: 20px;
}
.email-add {
  border: 1px solid #E5E5E5;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 390px;
  font-size: 18px;
  height: 66px;
  color: #999999;
  background-color: Transparent;
  margin-top: 10px;
}
.btn-text {
  background: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 3px;
  line-height: 66px;
  font-size: 18px;
  color: #FFFFFF;
  height: 66px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 10px;
}
.btn-text p {
  padding-top: 8px;
  font-size: 18px;
}

/* page CSS --- Highlight-section CSS */
.heighlight-container {
  margin-bottom: 220px;
}
.heighlight-title {
  margin-top: 20px;
}
.heighlight-image {
  margin-right: 122px;
}
.heighlight-image img {
  width: 516px;
}
.heighlight-text > :first-child {
  font-size: 20px;
  line-height: 36px;
}

/* footer css */
.footer-container {
	padding: 20px;
	margin: 0 auto;
}
.main-footer .footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.footer-nav li {
	display: inline;
}
.footer-nav img {
	display: inline-block;
  padding: 5px 15px;
  width: 19px;
}
.horizontal-line {
  margin-top: 90px;
}

/* Error-handler CSS */
.error-code {
  text-align: center;
  font-size: 8em;
  font-weight: 100;
}
.error-message {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  height: 350px;
}
.error-content {
  margin-bottom: 30px;
}
.btn {
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 20px;
}
.prismic-error-container {
  max-width: 600px;
  margin: auto;
  margin-top: 230px;
  margin-bottom: 449px;
}
.prismic-error-content {
  list-style: circle;
}
.prismic-error-message ul li {
  margin-bottom: 20px;
}

/* Media queries */
@media(max-width:1060px) {
  .header-container, .action-title {
    margin: auto;
  }
  .logo-text {
    font-size: 16px;
  }
  .container {
    text-align: center;
    padding: 0 20px;
    margin-top: 50px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 32px;
    line-height: 45px;
  }
 h6 {
    line-height: 35px;
    font-size: 20px;
  }
  .image-container  {
    padding-bottom: 30px;
  }
  .img-black,.img-white {
    padding-top: 25px;
  }
  .info-desc h6 {
    line-height: 30px;
    font-size: 20px;
  }
  .arrow-black,.arrow-white {
    width: 9%;
  }
  .info-container {
    text-align: left;
  }
  .action-container,.info-container,
  .email-container,.heighlight-container {
    flex-flow: column;
  }
  .app-store-button,.heighlight-image, 
  .image-container ,.info-container,
  .email-container,.heighlight-container,
  .info-desc,.signup-content {
    margin: 0;
    padding-top:20px;
  }
  .back-img {
    display: none;
  }
  .error-handle {
    font-size: 25px;
  }
  .heighlight-image {
    order: 2;
    margin: 0;
  }
 .heighlight-image img{
    width: 100%;
  }
 .heighlight-content {
    margin-bottom: 30px;
    text-align: left; 
  }
 .heighlight-container {
   align-items: unset;
   padding-bottom: 30px;
  }
  .error-container {
    margin-top: 230px;
  }
  .error-code h1 {
    font-size: 80px;
  }
  .error-message {
    margin-bottom: 400px;
  }
  .error-content {
    margin-bottom: 30px;
  }
  .prismic-error-container {
    padding: 23px 58px;
  }
}

@media(max-width:500px) {
  .main-nav-list li a {
    font-size: 10px;
  }
  .logo-text {
    font-size: 14px;
  }
  .main-header .header-container , .main-footer .footer-container {
		justify-content: space-evenly;
  }
  .moon-light-icon,.moon.dark-icon {
    width: 14px;
  }
  .email-add {
    padding: 10px 48px;
    width: 100%;
  }
  .footer-text {
    font-size: 12px;
  }
  .error-handle {
    font-size: 18px;
  }
}
