extends ../body

block body

  div.error-container
    div.error-code
      h1 404
    div.error-message
      h2.error-content SORRY!
      h6.error-content The Page You Are Looking For Was Not Found
      a.btn(href='/')
        button.btn
          | Go to Homepage