extends ../body

block body

  div.error-container
    div.error-code
      h1 404
    div.error-message
      h2.error-content Sorry!
      h6.error-content The page you are looking for was not found.
      a.btn(href='/')
        button.btn
          | Go to the homepage