extends ../body

block body
  div.container
    p.error-handle Something went wrong.
      ul
        li Please check your Prismic endpoints configurations.
        li Please check all the custom-types are created on Prismic and correctlt named in your repository.