extends ../body

block body

  div.prismic-error-container
    div.prismic-error-code
      h4 Something went wrong. 
    nav.prismic-error-message  
      ul.prismic-error-content
        li  Please check your Prismic endpoint configuration in prismic-config file. It might be incorrect.
        li  Please check custom-type API Id is defined in the queries.
        li  Check console for the error.