extends ../body

block body

  div.prismic-error-container
    div.prismic-error-code
      h4 Something is wrong in Prismic and prismic-configuration file.
    nav.prismic-error-message  
      ul.prismic-error-content
        li Please check your Prismic endpoints configurations. It can be wrong.
        li Please check all the custom-types are created on Prismic and correctly named in your repository.