hr.horizontal-line

footer.main-footer
  div.footer-container
    p.footer-text © 2019 Todoapp-Powered by Prismic
    
    nav.footer-nav
      ul.footer-nav-list
        li
          img.footer-logo.dark-icon(src= "/images/facebook2.png", alt = "Black-Facebook-icon") 
          img.footer-logo.light-icon(src= "/images/facebook1.png", alt = "Light-Facebook-icon") 
          img.footer-logo.dark-icon(src= "/images/instagram2.png", alt = "Black-instagram-icon")
          img.footer-logo.light-icon(src= "/images/instagram1.png", alt = "Light-instagram-icon")
          img.footer-logo.dark-icon(src= "/images/twitter2.png", alt = "Black-twitter-icon")
          img.footer-logo.light-icon(src= "/images/twitter1.png", alt = "Light-twitter-icon")
